/*////////////////////////////////////////////////////////////////////
////////// Experience Banner/ Header /////////////////////////////////
////////////////////////////////////////////////////////////////////*/
  .experience-banner {
    background-image: linear-gradient(
      to bottom, rgba(255,255,255,.25),
                 rgba(255,255,255,.5),
                 rgba(255,255,255,.25));
    color: black; 
    font-size: calc(5em + 7.5vw); 
    height: 100vh;
    margin: auto;
    opacity: .75;
    position: -webkit-sticky; 
    position: sticky; 
    text-align: center;
    text-shadow: -5px 15px 15px rgb(82, 80, 80);
    top: 0; 
    z-index: -200;}
/*////////////////////////////////////////////////////////////////////
////////// Basic Card Adjustments for Experience /////////////////////
////////////////////////////////////////////////////////////////////*/
.experience-container {
  min-height: 100vh;
  .card {           
    display: inline-block; 
    margin: 5vw;
    width: 75vw;
    height: 50vh; 
    overflow-y: scroll; border: none;
    word-wrap: break-word;
    .job-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(1px, auto);
    }
    .title {
      font-size: .75em;
      display: grid;
      grid-column: 1 / 3;
      grid-row: 1;
      justify-content: left;
    }
    .location {
      font-size: .75em;
      display: grid;
      grid-column: 2 / 3;
      grid-row: 1;
      justify-content: center;
    }
    .date {
      font-size: .75em;
      display: grid;
      grid-column: 3 / 3;
      grid-row: 1;
      justify-content: right;
    }
    .accomplishment {
      display: flex;  
      flex-wrap: wrap;
    }
    .devicon {
      fill: white;
      filter: drop-shadow(-5px 15px 5px black);
      margin-bottom: -.5rem;
      margin-left: .25rem;
      margin-right: .25rem;
      max-width: 2rem;}
  }
  .scrolling-wrapper-flexbox { vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;}
  .scrolling-wrapper {  
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;}}

